/*  Main Element Styles */
header,
a {
    color:white;
}


/*  Main Class Styles */
.header-li {
    display: inline;
    padding: 20px;
    text-decoration: none;
    color:white;
}

.header-margin-right {
    margin-right: 40px;
}

.main-image {
    display: block;
    margin: 50px;
    max-width: 20%;
    height: auto;
    border-radius: 50%;
    box-shadow: 20px 10px 7px #eef3fc;
    /* #3273dc; */
}

.main-header {
    font-size: 40px;
    font-weight: bold;
}

.main-text {
    font-size: 20px;
}

.center {
    text-align: center;
}

.navStrong {
    font-weight: bolder;
    font-size: 30px;
}

.project-image {
    display: block;
    /* margin: 50px; 
    max-width: 10%; */
    height: auto;
}

/*  Main ID Styles */


/*  Media Screen */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {  }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }
